{% extends "base.html" %}

{% block content %}
    <a href="{% url 'my-wishlists' %}">My Wishlists</a>
    <h2>{{ wishlist.name }}</h2>
    <ul>
        {% for item in wishlist.items.all %}
            <li><a href="{{ item.get_absolute_url }}">
            {{ item.title }}</a></li>
        {% endfor %}
    </ul>
    <h3>Add Item</h3>
    <form action="{{ create_url }}" method="post">
        {% csrf_token %}
        {{ create_form.as_p }}
        <input type="submit" value="Add Item" />
    </form>
{% endblock %}